* {
    margin: 0;
    padding: 0;
}

.screen-card {
    /* background-color: #0005DD; */
    color: white;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 4rem;
}

.screen-card-1 {
    background-color: #0005DD;
    /* color: white;
    width: 100vw;
    height: 100vw;

    align-items: center;
    text-align: center; */
}
.screen-card-2 {
    background-color: #0E11A4;
}
.screen-card-3 {
    background-color: #0D0F80;
}

.gothic-regular {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8vw;
}

.p-container {
    align-items: center;
    max-width: 80vw;
}

.screen-card-img {
    grid-row-start: 2;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 2vw;
}

p.light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.value-prop {
    /* padding-top: 50px; */
    width: 80vw;
    height: auto;
    /* max-height: 500px; */
}

.back-button {
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 0;
    border: none;
    background: none;
    font-size: large;
}

.back-button:hover {
    color: rgb(202, 202, 202);
}

.nav-back {
    /* padding-left: 50px; */
    position: absolute;
    left: 50px;
    top: 50px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

@media screen and (max-width:900px) {

    .nav-back {
        /* padding-left: 50px; */
        position: absolute;
        left: 50px;
        top: 25px;
    }    

    .screen-card{
        padding: 1rem 1rem 1rem 1rem;
    }

    .screen-card-1 {
        padding-top: 50px;
    }
    
}