* {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;

    max-width: 100vw;
    max-height: 100vh;
    background-color: #0005DD;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content-container {
    padding: 300vw 30vw 30vw 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100vh; /* Adjust as needed */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    color: white;
    font-size: 128px;
    font-family: 'Gothic A1';
    font-weight: bolder;
    margin: 10vh 0px 10vh 0px;
}

#login-error-msg,#signup-error-msg {
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    font-weight: bold;
    color: #d77474;
    opacity: 0;
    white-space: nowrap;
    align-self: center;
}

.input-error {
    border-bottom: 2px solid #d77474;
    transition: border-bottom 0.3s;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

input {
    padding: 8px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    background-color: transparent;
}

#signup-button {
    align-self: flex-end;

    /* Move up by 1rem */
    margin-top: -1.5rem;
}

button {
    align-self: center;
    width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 900;
    white-space: nowrap;
    align-items: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#login-form-buttons-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learn-more-button {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.signup-button {
    background-color: white;
    color: #0005DD;
    border: 1px solid white;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#login-form-buttons-row {
    display: flex;
    justify-self: center;
    align-items: flex-end;
}

.learn-more-button {
    margin-right: auto; /* Push the button to the left */
}

.login-button {
    margin-left: auto; /* Push login button to the right */
}

#login-form-signup-button {
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: -1vw;
}

.login-button {
    background-color: #0005DD;
    color: white;
    border: 1px solid white;
}

/* Button hover effects */

.learn-more-button:hover {
    background-color: white;
    color: black;
}

.signup-button:hover {
    background-color: #0005DD;
    color: white;
}

.login-button:hover {
    background-color: white;
    color: #0005DD;
}

@media screen and (min-width: 900px) {
    #login-form-buttons-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    
    .learn-more-button {
        grid-column: 1 / span 1;
    }
    
    #login-form-signup-button {
        grid-column: 3 / span 1;
    }
    
}


@media screen and (max-width: 900px) {
    .title {
        align-self: center;
        text-align: center;
        font-size: 50px;

    }

    form {
        align-self: center;
        width: 80%;
    }

    label {
        font-size: 17px;
    }

    input {
        padding: 0px;
    }

    #login-form-signup-button{
        margin-left: 15vw;
    }

    button {
        font-size: 17px;
        width: 120px;
    }

    #login-form-buttons-row {
        margin-top: 2rem;
    }

}

@media screen and (max-width: 500px) {

    #signup-button {
        align-self: flex-end;
    }

    #login-form-buttons-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    .learn-more-button {
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
        width: 100%;
        justify-self: center;
    }

    #login-form-signup-button {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        margin: 0px;
        justify-self: center;
    }

    .login-button {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        justify-self: center;
    }
}

@media screen and (max-width: 370px) {

    label {
        font-size: 15px;
    }

    #login-form-buttons-row {
        gap: 5px;
        margin-top: 0.5rem;
    }

    button {
        width: 90px;
        font-size: 15px;
    }
    
}
