* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 50px;

    letter-spacing: .5px;
}

.back {
    font-size: 24px;
    margin-bottom: 30px;
}

.header {
    border-radius: 30px;
    background-color: blue;

    height: 200px;
    color: white;
    font-size: 128px;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding-left: 50px;

}

.preference {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 20px;
    align-items: center;
    font-weight: 100;
    font-size: 20px;
}

.p-item {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.more {
    background-color: black;
    border-radius: 50px;
    height: 35px;
    width: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    height: 15px;
    width: 15px;
    
    border-radius: 100%;
    margin-right: 10px;
}

.orange {
    background-color: #DD7800;
}

.green {
    background-color: #CCDD00;
}

.calendar {
    outline: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 42px;
    font-weight: 100;
    padding-top: 30px;
    margin-right: 20px;
    width: 100%;
}
.label {
    margin-left: 5px;
}

.spacer {
    height: 45px;
}

.time > div {
    margin: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    justify-content: space-around;
}

.column {
    outline: 1px solid black;
    border-radius: 30px;
    height: 100%;
    width: 100%;

}

@media (max-width: 900px) {

    body {
        margin: 1rem;
        padding: 0px;
    }

    main {
        margin: 0px;
        padding: 0px;
    }

    
    .main {
        padding: 0px;
    }

    .back {
        font-size: 18px;
    }

    .back {
        margin-bottom: 10px;
    }

    .preference {
        padding-top: 30px;
        padding-bottom: 10px;
        font-size: 14px;
        justify-content: space-between;
    }

    .p-item {
        margin-left: 5px;
    }

    .more {
        height: 25px;
        width: 90px;
        font-size: 14px;
    }

    .header {
        height: 100px;
        font-size: 50px;
        padding-left: 10px;
    }

    .day {
        font-size: 16px;
        margin-right: 10px;
    }

    .time > div {
        margin: 10px;
    }

    .label {
        margin-left: 2px;
    }
}