* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.page-container {
    margin-left: 65px solid #0005DD;
    margin-right: 65px solid #0005DD;

    background-color: #0005DD;
  
}

@media screen and (max-width: 900px) {

    * {
        max-width: 100vw;
        font-size: 16px;
    }

    .page-container {
        width: 100%;
        padding: 2rem;
        margin-right: 0;
    }
}

.content-container {
    display: grid;
    grid-template-columns: repeat(14, 75px);
    gap: 20px;
  
    background-color: #0005DD;
}

@media screen and (max-width: 900px) {
    .content-container {
        grid-template-columns: repeat(3, 30px);
        gap: 5px;
    }
}

.title {
    grid-column-start: 3;
    text-align: left;

    color: white;
    font-size: 128px;
    font-family: 'Gothic A1';
    font-weight: bolder;

    margin-top: 138px;
}

@media screen and (max-width: 900px) {
    .title {
        grid-column-start: 1;
        font-size: 64px;
        margin-top: 138px;
    }
}


.form-container {
    width: 100%;
    grid-column-start: 3;
    text-align: left;


    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;

}


label {
    color: white;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
}

input {
    width: 592px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 16px;
    outline: none;
    color: white;
    background-color: transparent;
}



.buttons-row {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}


button {
    width: 155px;
    height: 41px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    white-space: nowrap;

}



/* Button details */

.learn-more-button {
    background-color: black;
    color: white;
    border: 1px solid black;
}


.learn-more-button:hover {
    background-color: white;
    color: #0005DD;
}

.sign-up-button {
    margin-left: 180px;

    background-color: white;
    color: #0005DD;
    border: 1px solid white;
}


.sign-up-button:hover {
    background-color: #0005DD;
    color: white;
    border: 1px solid white;
}

.login-button {

    margin-left: 20px;

    background-color: #0005DD;
    color: white;
    border: 1px solid white;
}


.login-button:hover {
    background-color: white;
    color: #0005DD;
}



@media screen and (max-width: 900px) {

    .form-container {
        grid-column-start: 1;
        height: 50%;

        /* Adjusting the margin for the buttons */
        /* margin-top: 25vh; */
        /* margin-bottom: 10vh; */
    }

    input {
        width: 250px;
        padding-top: 20px;
    }

    .buttons-row {

        /* Adjusting the margin for the buttons */
        /* margin-top: 20vh; */

        flex-direction: row;
        justify-content: baseline;
        align-items: center;
    }

    button {
        height: fit-content;
        border-radius: 30px;
        padding: 15px;
        font-size: 16px;
        white-space: nowrap;
        margin-left: 30px;
    }


    .learn-more-button {
        margin-left: 0px;
        white-space: wrap;
    }

    .sign-up-button, .login-button {
        min-width: 112px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 10px;
    }
}