*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 50px;
    letter-spacing: .5px;
}

input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.back{
    text-decoration: none;
    color: black;
    font-size: large;
    /* padding-left: 5rem; */
    /* padding-top: 2rem; */
    margin-bottom: 30px;

}

img{
    transform: scale(.5);
}

main{
    display: flex;
    flex-direction: column;
}

#pending{
    padding-left: 1.5rem;
}


#submitted{
    padding-left: 1.5rem;
}

.text-stack{
    margin-top: 10px;
}

.font{
    /* margin-top: 20px; */
    font-size: 30px;
}

#font{
    /* margin-top: 20px; */
    font-size: 30px;
}

.address{
    display: flex; 
    justify-content: space-between; 
}

.add{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.plus{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 1px solid black;
    padding: 0rem 5px;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 30px;
}

.plus hr {
    position: absolute;
    border: none;
    background-color: black;
    margin: 0; /* Remove default margin of hr */
}

.horizontal {
    width: 100%;
    height: 2px; /* thickness of the horizontal line */
    top: 50%;
    transform: translateY(-50%);
}
  
.vertical {
    height: 100%;
    width: 2px; /* thickness of the vertical line */
    left: 50%;
    transform: translateX(-50%);
}


.circle{
    display: flex;
    align-items: center;
    height: 15px;
    width: 15px;
    background-color: #dd7700;
    border-radius: 50%;
}

.submitted{
    display: flex;
    align-items: center;
    height: 15px;
    width: 15px;
    background-color: #ccdd00;
    border-radius: 50%;
}

.remind{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #dd7700;
    padding: 4px 0.5rem;
    border-radius: 30px;
    background-color: #dd7700;
    color: white;
}

.remind:hover{
    background-color: #c46900;
    border: 2px solid #c46900;
    cursor: pointer;
}

.delete{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 4px 0.5rem;
    margin-left: 0.5rem;
    border-radius: 30px;
}

.plus:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}

.delete:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 18px 18px 2rem;
    margin: 1rem 0rem 0rem 0rem;
    border: 1px solid black;
    border-radius: 30px;
    
}
.newcard{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0rem 18px 2rem;
    margin: 1rem 2rem 1rem 0rem;
    border: 1px solid black;
    border-radius: 30px;
}

#line{
    width: 65%;
}

.filter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2.5rem;
}

.buttons{
    display: flex;
    align-items: flex-end;
}

h1{
    font-family: "Gothic A1", sans-serif;
    font-weight: 900;
    font-style: normal;
    /* font-size: 8vw; */
    font-size: 128px;
}


hr {
    margin-top: 20px;
    min-width: 120px;
    max-width: 350px;
    /* align-items: right; */
}

.heading{
    border-radius: 30px;
    background-color: blue;

    height: 200px;
    padding-left: 50px;

    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: blue;
    color: white;
    /* padding: 2rem; */
    /* margin: 1rem 5rem 0rem 5rem; */
    border-radius: 30px;
    font-weight: 900;
    padding-left: 50px;
} 


.plus-image {
    max-width: 200px;
}

@media (max-width: 768px) {
    h1{
        font-size: 70px;
    }

    .filter {
        padding-top: 15px;
        /* font-size: 10px; */
    }

    .font{
        font-size: 18px;
    }
    
    #font{
        font-size: 18px;
    }

    hr{
        min-width: 90px;
    }
    
}

@media (max-width: 600px) {

    body {
        margin: 1rem;
        padding: 0px;
    }
    
    main {
        margin: 0px;
        padding: 0px;
    }


    .heading{
        border-radius: 30px;
        height: 100px;
        padding-left: 25px;
    }


    a{
        font-size: 18px;
        padding-left: 0rem;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .circle{
        margin: 13px 0 0 20px;
    }

    .submitted{
        margin: 13px 0 0 20px;
    }

    .filter {
        padding-top: 0;
        font-size: 10px;
    }

    hr{
        min-width: 50px;
        margin-top: 15px;
    }

    h1{
        font-size: 50px;
    }

    .card{
        padding: 0rem;
        height: 99px;
        margin: 1rem 0rem 0rem 0rem;
    }

    .newcard{
        height: 91px;
        padding: 13px 0 15px 20px;
        margin: 1rem 0.5rem 0rem 0rem;
    }

    .plus{
        height: 91px;
        /* width: 99px; */
        margin-right: 0rem;
    }

    .font{
        font-size: 17px;
        margin: 0px 0 0 20px;
    }

    #font{
        font-size: 17px;
        margin: 0px 0 21px 20px;
    }

    #pending{
        font-size: 10px
    }

    #submitted{
        font-size: 10px
    }

    .buttons{
        font-size: 10px;
        flex-direction: column;
        padding: 0 20px 0px 0px;
        margin-bottom: 15px;
    }

    .delete{
        margin-top: 0.5rem;
    }
}
